{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit memo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'memo/css/main.css' %}">
</head>
<body>
    <h1>Edit memo</h1>
    <form method="post" autocomplete="off" spellcheck="false">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
    <p><a href="{% url 'memo:detail' memo.pk %}">or go back to memo</a></p>
</body>
</html>